ul{
  display: inline-block;
}
ul li{
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}
.current{
  font-weight: 900;
  color: red !important;
  text-shadow: gray 5px 5px 10px;
}
#shower table{
  width: 1000px;
  border: 1px solid goldenrod;
  border-collapse: collapse;
  line-height: 2em;
}
table th,table td{
  border: 1px solid goldenrod;
}